@model QuotePoc.WebUI.Models.Quote

@{
    ViewBag.Title = "Quote";
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/QuotePoc/life.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/QuotePoc/quote.js")"></script>
}

<h2>Quote</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div class="quote-interface">
        @{Html.RenderPartial("Lives", new ViewDataDictionary());}
        <input type="submit" value="Calculate" data-bind="enable: submitEnabled" />
        @Html.KnockoutState()
    </div>
}