body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

table th {
    padding: 4px;
    background-color: #eee;
    border: solid 1px #bbb;
}

table td {
    padding: 4px;
    border: solid 1px #bbb;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
    display: block;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

p { max-width: 45em; }

ul li { max-width: 45em; margin-top: 0.5em; }

.testdrive-link
{
    width: 100%;
    overflow: hidden;
}

.testdrive-link a:link,
.testdrive-link a:active,
.testdrive-link a:visited
{
    display: block;
    float: left;
    width: 10em;
    padding: 1em;
    margin: 0 1em 0 0;
    text-align: center;
    background-color: #060;
    color: #fff;
    text-decoration: none;
    border-left: solid 1px #090;
    border-top: solid 1px #090;
    border-right: solid 2px #030;
    border-bottom: solid 2px #030;
}

.testdrive-link a:focus,
.testdrive-link a:hover
{
    text-decoration: underline;
    background-color: #070;
}