@{
    ViewBag.Title = "Quote";
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Tower/quote.js")"></script>
}

<h2>Quote</h2>

@using (Html.BeginForm()) {
    Html.RenderPartial("Lives");
    <input type="submit" value="Calculate" />
}